<h1>Hello, world!</h1>
<div class="container">

    <div class="imgset1 ">
        <a href="tutor/login">
            <img src="https://tse4.mm.bing.net/th?id=OIP.GvKWPRFN0irWeINxUdil4wHaNf&pid=Api&P=0&w=300&h=300"
                class="rounded-circle" style="outline: none;" alt="...">
            <h2>Tutor</h2>
        </a>
    </div>
    <div class="imgset2 ">
        <a href="student/login">
            <img src="https://tse2.mm.bing.net/th?id=OIP.WeSQuXgX7dLmy5D3hy2bXQAAAA&pid=Api&P=0&w=300&h=300"
                class="img2 rounded-circle" alt="...">
            <h2>Student</h2>
        </a>
    </div>






</div>
<style>
    .imgset1{
  /* background-color: red;   */
 
  padding-top: 100px;
  padding-left: 50px;
}
.imgset2{
  /* background-color: blue;   */
  
  padding-top: 100px;
  padding-left: 300px;
  
 
 
  
}

    .container{
  display: flex;
  justify-content: center;
  text-align: center;
}
</style>