 {{!-- {{>tutor-header}}  --}}
 


<header>


    <div class="wrapper" style="position: fixed;" >
        <!-- Sidebar Holder -->
        <nav id="sidebar"  > 
            <div class="sidebar-header" >
                <h3>  <i class="fa fa-user" style="color: black;font-size:40px"></i> Hi TUTOR  </h3>
            </div>

            <ul class="aside list-unstyled components">
               
                <li>
                    <a href="/tutor/tutor-home/profile">Profile</a>
                   
                   
                </li>
                <li>
                    <a href="/tutor/tutor-home/students">Students</a>
                </li>
                <li>
                    <a href="#">Attendance</a>
                </li>
                <li>
                    <a href='/tutor/tutor-home/assignment'>Assignment</a>
                </li>
                <li>
                    <a href="/tutor/tutor-home/notes">Notes</a>
                </li>
                <li>
                    <a href="/tutor/tutor-home/announcement">Announcement</a>
                </li>
                <li>
                    <a href="#">Event</a>
                </li>
                <li>
                    <a href="#">Photo</a>
                </li>
            </ul>

            
        </nav>

        <!-- Page Content Holder -->
        <div id="content" >
            

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                   

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class=" nav navbar-nav ml-auto ">
                              {{#if user}}
                            <li class="link nav-item active">
                                <a class="nav-link btn btn-outline-danger rounded-pill border border-danger" href="/tutor/logout" style="color: black;font-size:20px"  onclick="return confirm('{{user.name}}!!!! are you sure want to logout ')">Logout</a>
                               
                            {{/if}}
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>

      <section >
      <h1>Aannouncement</h1>
<form action="/tutor/tutor-home/announcement" enctype="multipart/form-data" method="POST">
     <div class="mb-3" style="width: 500px;">
  <label for="exampleFormControlInput1" class="form-label">Message:</label>
  <input type="text" name="Message" class="form-control" id="exampleFormControlInput1" >
</div>
<div class="mb-3" style="width: 500px;">
  <label for="exampleFormControlTextarea1" class="form-label">Description:</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="Description"></textarea>
</div>
					{{!-- <input type="file" name="announcementdetail" placeholder="Details" accept="application/pdf,video/*,image/*" required multiple><br> --}}

	<input type="submit" value="Submit" id="submit">
</form>
     

      </section> 

            
       
    
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>
    </header>

<style>
    
</style>